# Ignore data directories
data/
export/
source_data/*
!source_data/**/*.csv
!source_data/**/*.json
!source_data/.gitkeep

# Ignore dependencies / build outputs
dist/
tmp/
node_modules/
package-lock.json

# User configuration
.vscode/
.github/
config.yaml
