# Ignore data directories
data/
source_data/*
!source_data/**/*.csv
!source_data/.gitkeep

# Ignore dependencies / build outputs
dist/
tmp/
node_modules/
package-lock.json

# Misc
MODDING.md

.prettierrc.js
.eslintrc.js
config.yaml
