# Ignore data directories
data/
source_data/*
!source_data/**/*.csv
!source_data/.gitkeep

# Ignore dependencies / build outputs
dist/
node_modules/
package-lock.json

# Misc
MODDING.md

repo_structure.txt
scripts/create-repo-structure.js

.prettierrc.js
.eslintrc.js
config.yaml
